* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;

}

.mainDiv {
    display: flex-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: top;
    height: 50vh;
    width: 95%;
    flex-direction:column;
    background-color: rgba(211, 250, 250, 0.473);;
    /* background-color: rgba(42, 123, 119, 0.327); */
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(42, 123, 119);
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.accountHeader h1 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100;
    text-align: center;
}

.div1 h2 {
    font-size: 2em;
    color: black;
    font-weight: 100;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding:2%;
}   

.div2 h3 {
    font-size: 1.3em;
    color: black;
    font-weight: 100;
    text-align: left;
    font-family: 'DM Serif Display', serif;
    margin-left: auto;
}

/* .accountArrow {
    height: 20px;
    width: 20px;
    margin-left: auto;
} */

.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 95%;
    background-color: rgba(211, 250, 250, 0.473);;
    /* background-color: rgba(42, 123, 119, 0.327); */
    border: 2px solid rgb(42, 123, 119);
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5vh;
}

.accountHeader {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 20vh;
    flex-direction:column;
    padding: 2%;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:rgba(255, 138, 152);
    border: 2px solid 
}

.accountDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
    width: 40%;
    flex-direction:column;
    margin-right: auto;
    margin-bottom: 10vh;
}

.accountDetails p {
    color: black;
    font-weight: 100;
    text-align: left;
    font-family: 'DM Serif Display', serif;
    margin: 0 5%;
    font-size: 1.1em;
}

.links1 {
    display: flex;
    justify-content: right;
    align-items: top;
    margin-right: auto;
    text-align: left;
    width: 20vw;
    margin-left: -5%;
    margin-top: 5%;
}

.links1:hover {
    color: rgba(255, 138, 152);
    cursor: pointer;
    font-weight: 900;
}

.div1 {
    display: flex;
    justify-content: left;
    align-items: top;
    flex-direction:column;
    margin-right: auto;
    width: 35vw;
}

.div2 {
    display: flex;
    justify-content: left;
    align-items: top;
    flex-direction:column;
    margin-right: auto;
    width: 25vw;
    margin-top: 15%;
    
}

.beachfeet {
    display: flex;
    justify-content: right;
    align-items: top;
    height: 50vh;
    margin-left: auto;
    /* margin-right: -35vw; */

}

.bookings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: top;
    width: 95%;
    height: min-content;
    background-color: rgba(255, 138, 152);
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(255, 138, 152);
    border-top: none;

}

.bookingHeader {
    display: grid;
    /* grid-template-columns: 1fr; */
    width: 95%;
    height: 12vh;
    margin-right: auto;
    margin-left: auto;
    /* background-color: rgba(238, 138, 152, 0.589); */
    background-color: aqua;
    border: 2px solid rgb(238, 103, 108);
    border-bottom: none;
    align-items: top;
}

.bookingH2 {
    font-size: 2em;
    color: black;
    font-weight: 100;
    text-align: left;
    margin-left: auto;
    margin-right: 15vw;
    font-family: 'Roboto', sans-serif;
    background-color: blue;

}

.poolImg {
    width: 50vh;
    margin-right: auto;
    margin-left: 15%;
    margin-top: -12vh;
}

.roomDiv {
    display: flex;
    justify-content: left;
    align-items: top;
    width: 39vw;
    flex-direction:column;
    margin-right: auto;
    padding: 2%;
    padding-top: 1%;
    padding-left: 15%;
}

.activityDiv {
  display: flex;
  justify-content: right;
  align-items: top;
  flex-direction:column;
  margin-left: auto;
  width: 39vw;
  padding: 2%;
  padding-top: 1%;
  padding-right: 3%;
}