.footer {
    background-color: rgb(42, 123, 119);
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
}

.contact-us p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    position: relative;
    left: 102px;
    top: 35px;
    color: rgb(60, 255, 255);
}

.contact-info p { 
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgb(231, 255, 253);
    text-align: left;
    margin-top: 1px;
    position: relative;
    left: -20px;
    top: 65px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    border-top: .5px solid rgb(255, 188, 196);
    position: relative;
    top: 17px;
    padding: 7px;
}

.footer-bottom p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(231, 255, 253);
    text-align: center;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    background-size: cover;
    width: 35px;
    height: 35px;
}

.social-media p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgb(105, 255, 245);
    margin-top: 15px;
    position: relative;
    left: 140px;
    top: 18px;
}

.facebook {
    background-image: url('../images/facebook.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    position: relative; 
    right: -272px;
    top: 37px;
}
  
.instagram {
    background-image: url('../images/instagram.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    position: relative; 
    right: -230px;
    top: 3px;
}
  
.tiktok {
    background-image: url('../images/tiktok.png');
    background-size: cover;
    width: 37px;
    height: 37px;
    position: relative; 
    right: -310px;
    top: -32px;
}
  
.email p {
    font-family: 'roboto', sans-serif;
    font-size: .8em;
    position: relative; 
    text-align: left;
    top: 120px;
    left: -140px;
}

.quick-links-title p {
    font-family: 'roboto', sans-serif;
    font-size: .8em;
    position: relative; 
    text-align: left;
    top: 35px;
    left: 445px;
    color: rgb(105, 255, 245);
}

.quick-link-list li {
    margin-bottom: -2px;
    text-align: left;
    position: relative;
    right: -350px;
    top: 60px;
    color: #fff;
}

.quick-link-list a {
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    color: #fff;
}

.quick-link-list p {
    font-family: 'roboto', sans-serif;
    font-size: .8em;
    color: #fff;
    position: relative;
    right: -5px;
    top: -2px;
}

.tagline p {
    font-family: 'petit formal script', sans-serif;
    font-size: .9em;
    position: relative; 
    text-align: center;
    top: -15px;
    color: rgb(255, 255, 255);
}

.quick-link-list p:hover {
    color: rgb(105, 255, 245);
}