.footer {
background-color: rgb(8, 123, 119);
color: #fff;
padding: 20px 10px;
position: relative;
bottom: 0;
width: 100%;
text-align: center;
}

.footer-content {
font-family: 'roboto', sans-serif;

display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.footer-section {
margin: 10px;
flex: 1;
}

.footer-section h3 {
margin-bottom: 10px;
font-size: 1.2em;
color: #fff;
}

.footer-section p {
margin: 5px 0;
}

.footer-section a {
color: #fff;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: none;
}

.social-icons img {
width: 24px;
height: 24px;
margin: 0 10px;
}
.footer-bottom {
margin-top: 20px;
border-top: 1px solid #ffffff;
padding-top: 10px;
}

.footer-bottom p {
margin: 0;
}