* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideshow-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 15%;
  width: 70%;
  max-width: 1000px;
  min-width: 300px;
  background-color: rgba(150, 135, 126, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.overlay p {
  font-size: 3.4rem;
  font-family: 'DM Serif Display', serif;
  margin-bottom: -10px;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
}

.overlay button {
  margin-left: 100px;
  margin-top: -15px;
  background-color: rgb(42, 123, 119);
  border: none;
  color: white;
  padding: 8px 80px;
  font-size: .9rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 350px;
  box-sizing: border-box;
}

.overlay button:hover {
  background-color: rgb(8, 159, 149);
  transform: scale(1.05);
}

.overlay .additional-text {
  font-size: 1.35rem;
  font-family: 'Petit Formal Script', cursive;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  position: relative;
  right: 40px;
  top: 7px;
}

@media (max-width: 768px) {
  .overlay p {
    font-size: 2rem;
  }

  .overlay .button-container {
    flex-direction: column;
  }

  .overlay button {
    width: auto;
    min-width: 120px;
  }

  .overlay .additional-text {
    font-size: 1rem;
  }
}

.rectangle-box {
  width: 85%;
  max-width: 100%;
  height: 120px;
  background-color: rgb(255, 138, 152);
  margin: 25px auto;
  margin-top: 60px;
  position: relative;
  top: -40px;
  z-index: 1;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .4);
}

.rectangle-box2 {
  width: 100%;
  max-width: 100%;
  height: 900px;
  background-color: rgb(211, 250, 250);
  margin: -160px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlighted-word {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2.9rem;
  color: rgb(42, 123, 119);
  text-align: center;
  align-items: center;
  position: relative;
  top: -20px;
}

.rectangle-box2-text {
  font-family: 'DM Serif Display', serif;
  font-size: 1.9rem;
  margin: 0;
  color: rgb(42, 123, 119);
  text-align: center;
  position: relative;
  top: -20px;
}



.small-box-1 {
  width: 300px;
  height: 300px;
  background-image: url('../images/smallbox2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.small-box-2 {
  width: 300px;
  height: 300px;
  background-image: url('../images/smallbox1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.small-box-3 {
  width: 300px;
  height: 300px;
  background-image: url('../images/smallbox3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  position: relative;
  height: 300px;
}

.rectangle-box2-text2 {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: rgb(42, 123, 119);
  position: absolute;
  top: 117%;
  left: 40%;
  line-height: 1.5;
}

.beach-box {
  width: 100%;
  max-width: 100%;
  height: 300px;
  background-image: url('../images/beachpic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -20px auto 20px;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
}

.info-box {
  width: 30%;
  height: 500px;
  background-color: #2a7b77;
  position: relative;
  top: 150px;
  left: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
  padding: 20px;
  z-index: 3;
  margin-top: -550px;

}



.info-box-logo {
  width: 150px;
  height: 150px;
  background-image: url('../images/logowhite.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .09;
  margin-top: -50px;
}

.testimonials-title {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: -150px;
}

.testimonials1, .testimonials2, .testimonials3 {
  font-family: 'Roboto', sans-serif;
  font-size: .80rem;
  color: #ffffff;
  text-align: center;
  max-width: 90%;
  position: relative;
  top: 10px;
  margin-bottom: -40px;
  z-index: 2;
}

.wave-box {
  width: 100%;
  max-width: 100%;
  height: 2575px;
  background-color: rgb(211, 250, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/waves.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
  position: relative;
  top: 10px;
  }

.wave-box-text {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  margin-top: 150px;
  color: rgb(211, 250, 250);
  text-align: center;
  position: relative;
  top: 30px;
}

.wave-box p {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  margin-top: 50px;
  position: relative;
  top: -15px;
}

.room-box {
  width: 41%;
  max-width: 100%;
  height: 500px;
  background-image: url('../images/room3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 40px;
  right: 303px;
  z-index: 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
}

.room-box2 {
  width: 41%;
  max-width: 100%;
  height: 500px;
  background-image: url('../images/room1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  right: -302px;
  top: -460px;
  z-index: 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
}



.room-box img, .room-box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-box .overlay-text, .room-box2 .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 123, 119, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 20px;
}

.room-box:hover .overlay-text, .room-box2:hover .overlay-text {
  opacity: 1;
}

h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}



.rectangle-box {
  width: 75%;
  max-width: 100%;
  height: 120px;
  background-color: rgb(255, 138, 152);
  margin: 25px auto;
  margin-top: 60px;
  position: relative;
  top: -40px;
  z-index: 1;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.booking-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  gap: 20px;
}

.booking-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.booking-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking-form label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 5px;
}

.booking-form input,
.booking-form select {
  width: 150px;
  padding: 8px 10px;
  font-size: 0.8rem;
  border: 1px solid rgb(248, 155, 166);
  background-color: rgb(227, 114, 127);
  color: rgb(255, 138, 152);
  transition: box-shadow 0.3s ease;
  height: 38px;
}

.booking-form input::placeholder {
  color: rgb(248, 155, 166);
}

.booking-form input:focus,
.booking-form select:focus {
  box-shadow: 0 0 10px rgb(246, 167, 176);
  outline: none;
}

.booking-form button {
  padding: 15px 60px;
  font-size: 0.8rem;
  color: #fff;
  background-color: rgb(42, 123, 119);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  top: 5px;
  right: -25px;
}

.booking-form button:hover {
  background-color: rgb(8, 159, 149);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.booking-form button:active {
  transform: translateY(0);
}

.custom-date-input input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 10px;
  z-index: 2;
}

.custom-date-input {
  position: relative;
}

.custom-date-input::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/calendar.png');
  background-size: cover;
  pointer-events: none;
  opacity: 0.5;
}

.custom-date-input input[type="date"] {
  padding-right: 40px;
}

.booking-form select {
  appearance: none;
  background-color: rgb(227, 114, 127);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(248, 155, 166);
  padding: 8px 10px;
}

.activities-text p {
  font-family: 'DM Serif Display', serif;
  font-size: 2.3rem;
  color: rgb(211, 250, 250);
  text-align: center;
  position: relative;
  top: 630px;
}

.activities-text2 p {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  top: 580px;
}


.activity-box1 {
  width: 550px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000;
  position: relative;
  top: 460px;
}

.activity-box1 iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.activity-box2 {
  width: 450px;
  height: 300px;
  background-image: url('../images/snorkeling.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  position: relative;
  top: 450px;
  overflow: hidden;
  cursor: pointer;
}

.activity-box2 .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 123, 119, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.activity-box2:hover .overlay-text {
  opacity: 1;
}

.activity-box2 .overlay-text h2 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.activity-box2 .overlay-text button {
  background-color: rgb(255, 138, 152);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: -10px;
  transition: background-color 0.3s ease;
}

.activity-box2 .overlay-text button:hover {
  background-color: rgb(8, 159, 149);
}



.box-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -220px;
  position: relative;
  top: 362px;
  
}

.beach-box2 {
  width: 87.5%;
  max-width: 100%;
  height: 500px;
  background-image: url('../images/resort2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -625px;
  z-index: 2;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
}

.info-box2 {
  width: 35%;
  height: 650px;
  background-color: rgb(227, 114, 127);
  position: relative;
  top: -850px;
  left: -302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  z-index: 3;
  margin-top: -350px;
}


.info-box-logo2 {
  width: 150px;
  height: 150px;
  background-image: url('../images/logowhite.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .09;
}


.amenities-title {
  font-family: 'DM Serif Display', serif;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  top: -100px;
}

.amenities-text, .amenities-text2, .amenities-text3, .amenities-text4 {
font-family: 'DM Serif Display', serif;
font-size: 1.1em;
color: white;
text-align: center;
position:relative;
top: -25px;

}

.amenities-text p, .amenities-text2 p, .amenities-text3 p, .amenities-text4 p {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  color: white;
  line-height: 1.4;
  font-size: .7em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

