.mainNavBox{
    display: grid;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-gap: 0px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(241, 124, 128);
}

.address{
    border-bottom: 1px solid rgb(241, 124, 128);
    color: rgba(8, 159, 149);
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 12px;
    width: 100%;
    margin-top: 16px;
    height: 135px;
}

.address p{
    text-align: left;
    width: 100%;
    font-family: 'roboto', sans-serif;
}
#logo{
    width: 200px;
    margin-top: 16px;
}
.nav1{
    display: flex;
    color: rgba(8, 159, 149);
    justify-content: left;
    
}
.nav2{
    display: flex;
    color: rgba(8, 159, 149);
    color: rgba(8, 159, 149);
    justify-content: right;
}
.navLinks1{
    margin-left: 80px;
    margin-right: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    
}

.navLinks3{
    margin-left: auto;
    margin-right: 0px;
    padding-top: 30px;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    
}

.logout {
    height: 20px;
    padding-left:3px;
    padding-top: 3px;
}

.user {
    height: 25px;
    margin-right: -5px;
    margin-bottom: -5px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(8, 159, 149);
    color: rgba(8, 159, 149);
}

a:hover {
    color: rgb(11, 203, 190) !important;
}


a:visited{
    text-decoration: none;
    color: rgba(8, 159, 149);
}
#bookYourStay{
    width: 100%;
    display: flex;
    justify-content: right;
}
.navLinks2{
    margin-right: 80px;
    margin-left: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;

}

#home{
    width: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: left;
}
#our-rooms{
    margin-left: 140px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-right: 80px;
}
#activities{
    margin-right: 140px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 80px;
}
#account{
    width: 100px;
    display: flex;
    justify-content: right;
}

.phoneAndBook{
    border-bottom: 1px solid rgb(241, 124, 128);
    color: rgba(8, 159, 149);
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 12px;
    margin-top: 16px;
}
.phoneAndBook p{
    text-align: right;
    width: 100%;
}
.forwardArrow{
    width: 25px;
    position: relative;
    right: -3px;
}

