.roomImageSlideshow-container {
    position: relative;
    /* max-width: 100%; */
    width: 300%;
    /* margin: -45px auto; */
    overflow: hidden;
    height: 100%;
    background-color: #dfc7bb;
  }
  
  .slide-{
    position: absolute;
    /* background-color: blue; */
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
    transition: opacity 0s ease-in-out;
  }
  
  .slide-active {
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    /* transition: opacity 1s ease-in-out; */
  }
  
  .roomImageSlideshow-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  .dots2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 8px;
  }
  
  .dot-{
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #dfc7bb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .dot-active{
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: rgb(213, 242, 242);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  
  .dot-.active, .dot-:hover {
    background-color: rgb(213, 242, 242);
  }