.roomData{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 32px;
    padding: 75px;
    width: 100%;
    /* flex-wrap: wrap; */
    /* min-width:fit-content; */
    /* background-color: blueviolet; */
}
